<p id="notice"><%= notice %></p>


<!-- example 1 -->
<ul id="tabs_example_one" class="subsection_tabs">
    <li class="tab"><a href="#loaned">Loaned</a></li>
    <li class="tab"><a href="#loanable">Loanable</a></li>
    <li class="tab"><a href="#borrowed">Borrowed</a></li>
</ul>

<div id = "loaned"class="itemsdiv round">
   <table class="items">
    <tr>
        <% @loaned_items.each do |item| %><tr>
            <td><span class="iteminfo"><%= link_to item.description, item, :method => :show %> <%= link_to "delete", item, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{item.description}", :class => "deletelink"%></span></td>
        <%end%>
    </tr>
    </table>
</div>

<div id="loanable" class="itemsdiv round">
       <table class="items">
    <tr>
        <% @items.each do |item| %><tr>
            <td><span class="iteminfo"><%= link_to item.description, item, :method => :show %> <%= link_to "delete", item, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{item.description}", :class => "deletelink"%></span></td>
        <%end%>
    </tr>
    </table>
</div>

<div id="borrowed" class="itemsdiv round">
   <table class="items">
    <tr>
        <% @borrowed_items.each do |item| %><tr>
            <td><span class="iteminfo"><%= link_to item.description, item, :method => :show %> <%=link_to "returned", {:controller => "items", :action => "return", :id=>item}, :class => "deletelink"%></span></td>
        <%end%>
    </tr>
    </table>
</div>


<div class="sidebar round">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <strong>Total Items: </strong> <%= @loaned_items.count + @items.count + @borrowed_items.count%>
</div>

<div class=navigation>
    <% if current_user?(@user) %>
    <%= link_to 'Add Item', new_item_path%> |
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <% end %>
    <%= link_to 'Back', users_path %>
</div>
