<p id="notice"><%= notice %></p>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <% unless @loaned_items.empty?%>
        <table class="items" summary="User Items">
          <tr>
            <th>Loaned out</th>
          </tr>
          <% @loaned_items.each do |item| %><tr>
              <td class="item">
                    <span class="iteminfo"><%= link_to item.description, item, :method => :show %> <%= link_to "delete", item, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{item.description}", :class => "deletelink"%></span>
               </td>
            </tr>
        <%end%>
        </table>
         <%end%>
      </h1>
    </td>
    <td class="main">
      <h1>
        <% unless @items.empty? %>
        <table class="items" summary="User Items">
          <tr>
            <th>Loanable</th>
        </tr>
            <% @items.each do |item| %>
                <tr>
                  <td class="item">
                        <span class="iteminfo"><%= link_to item.description, item, :method => :show %> <%= link_to "delete", item, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{item.description}", :class => "deletelink"%></span>
                   </td>
                </tr>
            <%end%>
        </table>
        <% end %>
      </h1>
    </td>
    <td class="main">
      <h1>
        <% unless @borrowed_items.nil? || @borrowed_items.empty? %>
        <table class="items" summary="User Items">
          <tr>
            <th>Borrowed</th>
        </tr>
            <% @borrowed_items.each do |item| %>
                <tr>
                  <td class="item">
                        <span class="iteminfo"><%= link_to item.description, item, :method => :show %> <%= link_to "delete", item, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{item.description}", :class => "deletelink"%></span>
                   </td>
                </tr>
            <%end%>
        </table>
        <% end %>
      </h1>
    </td>
    <td class="sidebar round">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <strong>Total Items: </strong> <%= @user.items.count%>
    </td>
  </tr>
</table>

<% if current_user?(@user) %>
<%= link_to 'Add Item', new_item_path%> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
