<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Loaned to:</b>
  <%= email_or_name(@item.borrower) %>
</p>

<p>
  <b>How long until I get it back?</b>
  <%= distance_of_time_in_words(Date.today, @item.expiration) %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', current_user %>
